@font-face {
    font-family: 'BadBlocks TT';
    font-style: normal;
    font-weight: normal;
    src: local('BadBlocks TT'), url('BadBlocksTT.woff') format('woff');
    }

    h1 {
        font-family: 'BadBlocks TT';
        font-weight: 200;
        color: red;
    }